.table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  &__header {
    background-color: #0041d0;
    color: white;
  }
  &__headercell {
    padding: 8px 16px;
  }
  &__bodyrow {
    &:nth-child(even) {
      background-color: #d4e2f255;
    }
  }
  &__bodycell {
    padding: 8px 16px;
  }
}
